.heading {
    font-family: 'Jost', sans-serif;
    color: #0f172a;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 10px;

    @media (max-width:767px) {
        font-size: 30px;
    }
}